// Breakpoints
// -------------------------
$widescreen-width  : 1600px;
$desktop-width     : 1280px;
$legacy-width      : 1020px;
$mobile-width      : 750px;
$small-mobile-width: 360px;



// Colours
// -------------------------
$color-primary  : #EB2E22;
$color-secondary: #33658A;
$color-link     : #F6AE2D;
$color-link-over: #688E26;
